.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 300px;
  width: 50%;
  max-width: 500px;
  align-self: left;
  position: absolute;
  top: 50%;
  gap: 15px;
  transform: translateY(-50%);
}

.submitButton {
  color: inherit;
  border: 1px solid var(--main-border-color);
  border-radius: var(--border-radius);
  width: 50%;
  min-height: 40px;
  min-width: 100px;
  background-color: var(--light-background-color);
}

.submitButton:focus {
  outline-color: var(--main-border-color);
}
