.userDetailsWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  min-width: 350px;
  padding-left: 15px;
  gap: 5px;
  border-left: 2px solid var(--main-border-separator-color);
}

.titleSpan {
  font-weight: bolder;
  text-transform: capitalize;
}
